<router-outlet></router-outlet>

<!-- <div class="outer ">
    <div class="container">
        <div class="row">
            <div class="startup border bg-white bg-opacity-75">
                <div class="panel-heading">
                    <h3 class="pt-3 font-weight-bold">Test App for Login/SignUp</h3>
                    <h5 class="pt-2 font-weight-bold">Wanna try it out ?</h5>
                    <a id="login" routerLink="/login"><span class="fa fa-hand-o-right"></span> Click Here <span class="fa fa-hand-o-left"></span></a>
                </div>
            </div>
        </div>
    </div>
</div> -->